<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div class="container">
       <div class="header" style="display: block;">
            <a style="font-size: 40px; font-weight: bold; text-decoration: underline;">Get blogs/</a><a href="/users/0" style="font-size: 20px; text-decoration: none;">get users/ </a><a style="font-size: 20px; text-decoration: none;" href="/login"> log out</a>
        </div>
    <h3>Create new: <a href="/blogs">New +</a></h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr class="table-active">
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>
                    <button type="button" id="deleteBtn" class="btn btn-secondary"
                        onclick="togeDeleteUser(`{{this._id}}`)">Delete</button>
                    <a href="/blogs/{{this._id}}" type="button" class="btn btn-success ">Update</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="modal" id="deleteForm">
        <form action="" method="DELETE">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteFormValue">Confirm Action! DELETE blogID: </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to delete this blog?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="sendDeleteRequest()">Detele</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            onclick="hideDeleteUser()">Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<script>
    function togeDeleteUser(id) {
        document.getElementById("deleteForm").style.display = "block";
        document.getElementById("deleteFormValue").innerHTML = "Confirm Action! DELETE blogId: "+ id
    }
    function hideDeleteUser() {
        document.getElementById("deleteForm").style.display = "none";
    }
    function sendDeleteRequest() {
        const id = document.getElementById("deleteFormValue").innerHTML.split(" ")[4]
        console.log(id)
        $.ajax({
            url: '/blogs/' + id,
            type: 'DELETE',
            success: function (result) {
                location.reload();
            }
        });
    }
</script>

</html>